.top {
  color: var(--white);
  text-align: center;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 22%;
}

.top__title {
  margin-bottom: 38px;
  font-size: 96px;
  font-weight: 700;
}

.top__link {
  font-size: 36px;
  font-weight: 700;
  background: var(--black);
  padding: 23px 40px;
  max-width: 430px;
  width: 100%;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 50px;
  transition: .5s;
}

.top__link:hover {
  background: var(--blue);
}

/*затемнение главного экрана*/
.swiper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(21, 21, 21, .3);
  z-index: 2;
}

.swiper-slide {
  height: 100vh;
  background-size: cover;
  background-position: center 80%;
  background-repeat: no-repeat;
}

.swiper-pagination-bullet {
  width: 120px;
  height: 3px;
  background: var(--black);
  border-radius: 0;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  height: 6px;
  background: var(--white);
}


.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 40px);
}


.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 15px);
}

@media (max-width: 960px) {
  .swiper-slide {
    background-position: center;
  }

  .top__title {
    font-size: 48px;
  }

  .top__link {
    max-width: 300px;
    font-size: 24px;
  }
}

@media (max-width: 750px) {
  .swiper-pagination-bullet {
    width: 50px;
  }
}

@media (max-width: 750px) {
  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 20px);
  }

  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 5px);
  }
}