.wherefore {
  padding-top: 150px;
}

.wherefore__block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wherefore__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  align-items: start;
}

.wherefore__item {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.wherefore__img {
  margin-bottom: 30px;
}

.wherefore__desc h3 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.wherefore__desc p {
  line-height: 130%;
}

@media (max-width: 1220px) {
  .wherefore__list{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 830px) {
  .wherefore {
    padding-top: 50px;
  }  
}

@media (max-width: 600px) {
  .wherefore__list {
    grid-template-columns: 1fr;
  }
}