.blog__cover {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.blog__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-bottom: 70px;
}

.blog__item {
  width: 580px;
}

.blog__img {
  width: 100%;
  background: var(--gray);
  margin-bottom: 30px;
}

.blog__preview {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.blog__preview h3 {
  font-size: 24px;
  font-weight: 700;
}